<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>WebSocket</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div id="app">
      <span> {{ status }}</span><br>
      <input type="text" v-model="inputform" v-on:keyup.enter="submit">
      <div id="log" v-for="result in resultData">
        {{ result }}
      </div>
    </div>

    <script>
    let ws
    var vm = new Vue({
      el: "#app",
      data: {
        resultData: [],
        inputform: "",
        conntainer_id: "",
        status: "",
      },
      methods: {
        submit () {
          ws.send(JSON.stringify({container_id: vm.conntainer_id,command: vm.inputform}))
        }
      },
      mounted: () => {
        new Promise( (resolve, reject) => {
          axios.get('http://localhost:1234/api/v1/connection/rb').then( response => {
            ws = new WebSocket(response.data.url);
            vm.conntainer_id = response.data.container_id;
            resolve();
          }).catch( error => {
            console.log(error);
          })
        }).then( () =>  {
        ws.onopen = () => {
          vm.status = 'サーバーと接続しました'
        }
        ws.onclose = () => {
          vm.status = "サーバーとの接続が切断されました"
        }
        ws.onmessage = evt =>{
          vm.resultData.unshift(JSON.parse(evt.data).result)
        }

        ws.onerror = error => {
          console.log("Error:" + error);
        }
      })
      }
    })
    //
    </script>
  </body>

</html>
